$primary-button-color: #0095FF;
$primary-text-color: #323232;
$background-white: #F4F4F9;
$background-beige: #f3ede7;
$secondary-text-color: #ffffff;
$scroll-black: #000000;
$background-beige-border: #e1bf9f;
