@mixin hero-font {
    font-size: .8125rem;
    line-height: 1.25rem;
    font-weight: 600;
    @include tablet {
        font-size: 1.25rem;
        line-height: 2rem;
    }
    @include desktop {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}