@import "../../styles/global.scss";
.header{
    background-color: $background-beige;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    @include tablet{
        padding: 1rem  2rem;

    }
    // &__balance{
    //     visibility: hidden;
    //     @include tablet{
    //         width: 4.2489rem;
    //     }
    // }
    &__logo{
        display: flex;
        cursor: pointer;
        &-img{
            width: 12.5rem;
            @include tablet{
                width: 18.75rem;
            }
        }
    }
//     &__login1{
//     width: 1.5rem;
//     height:1.5rem;
//     @include tablet{
//         display: none;
//     }
//     &-icon{
//         width: 1.5rem;
//         height:1.5rem;
//     }
// }
// &__login2{
//     display: none;
//     @include tablet{
//         text-decoration: none;
//         background-color: #0095FF;
//         border-radius: 1.25rem;
//         color: #ffffff;
//         padding: .625rem  1rem;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     &:hover{
//         background-color: #0065AD ;
//     }
// }
}