@import "./styles/global.scss";
body {
  font-family: "AvenirNext", Helvetica, Arial, sans-serif;
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

input::placeholder{
  font-family: "AvenirNext", Helvetica, Arial, sans-serif;
}
